<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--                        <div class="form-floating mb-3">-->
    <!--                            Тип кузова-->
    <!--                            {% for type in types %}-->
    <!--                                <div class="form-check">-->
    <!--                                    <input class="form-check-input" type="radio" name="typeRadio" id="typeRadio_{{ type.id }}">-->
    <!--                                    <label class="form-check-label" for="typeRadio_{{ type.id }}">{{ type.name }}</label>-->
    <!--                                </div>-->
    <!--                            {% endfor %}-->
    <!--                        </div>-->
    <!--                        <div class="form-floating mb-3">-->
    <!--                            Ціна лоту-->
    <!--                            {% for price in prices %}-->
    <!--                                <div class="form-check">-->
    <!--                                    <input class="form-check-input" type="radio" name="priceRadio" id="priceRadio {{price.id}}">-->
    <!--                                    <label class="form-check-label" for="priceRadio {{price.id}}">-->
    <!--                                        {{price.name}}-->
    <!--                                    </label>-->
    <!--                                </div>-->
    <!--                            {% endfor %}-->
    <!--                        </div>-->
    <!--                        <div class="form-floating mb-3">-->
    <!--                            <input class="form-control" type="text" placeholder="Ваш номер телефону" aria-label="default input example" id="phone">-->
    <!--                            <label for="phone">Ваш номер телефону</label>-->
    <!--                        </div>-->
</body>
</html>

                <button type="submit" class="btn btn-warning my-2" data-bs-target="#modalCalculate"
                        data-bs-toggle="modal" onclick="submitForm(); displayResults();">